.Link {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  text-wrap: nowrap;
}

.FileLink {
  appearance: none;
  background-color: black;
  border-radius: 0.5em;
  border: none;
  color: white;
  padding: 0 0.5em;
}

.FileLink:hover {
  background-color: #333;
}

.AppWindow {
  border: 1px solid #ccc;
  position: relative;
}

.AppWindow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff9;
  pointer-events: none;
}

.AppWindow--current::after {
  display: none;
}

.AppWindow__header {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 0.25rem;
}

.AppWindow__closeButton {
  appearance: none;
  background-color: white;
  border: 2px solid black;
  height: 1.5rem;
  margin-right: 0.5rem;
  width: 1.5rem;
}

.AppWindow__title {
  font-size: 1.5rem;
  line-height: 1;
  flex: 1 0 auto;
}

.TextView__Link .Link {
  font-weight: bold;
  text-decoration: underline;
  display: inline-block;
}

.Input--fitContent {
  field-sizing: content;
  padding: 0 0.25rem;
}

.OmniboxView__input {
  display: block;
  width: 100%;
}

.OmniboxView__listItem {
  padding: 0.25rem;
  border-top: 1px solid #ccc;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}

.Column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
  vertical-align: top;
}

.Text {
  white-space: preserve;
}

.Spacer {
  flex: 0 0 auto;
}

section header {
  font-size: 2rem;
  font-weight: bold;
}

section section header {
  font-size: 1.5rem;
  font-weight: bold;
}

section section section header {
  font-size: 1rem;
  font-weight: bold;
}
